#functionInput {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
    padding-left: 5px;
    border-radius: 8px;
    width: 226px;
}

#plot-canvas {
    width: 340px;
    height: 175px;
    background-color: white;
}