body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #5f5e5e;
}

#calculator {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    background: #222;
    width: 350px;
}

#display {
    width: 100%;
    font-size: 18px;
    text-align: right;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #534646;
    min-height: 250px;
    resize: vertical;
    overflow-y: auto;
    color: black;
}

.row {
    display: flex;
}

.btn,
#execute,
#power,
#clear,
#backspace {
    flex: 1;
    height: 40px;
    font-size: 18px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    background: #444;
    color: white;
}

.btn:hover {
    background: #666;
}

#execute {
    background: #1a5ad1;
    color: white;
}

#power {
    background: green;
    color: white;
}

#clear {
    background: rgb(240, 119, 119);
    color: white;
}

#backspace {
    background-color: #c49292;
    color: white;
}

.led {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
}

.led.on {
    background-color: green;
}

.led.off {
    background-color: #534646;
}

.led-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

/* CASIO Label bleibt immer hell */
.label {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 1.2em;
    color: #f0f0f0;
    flex: 1;
    text-align: center;
}

#theme-toggle {
    background: #444;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Light Mode */
.light-mode {
    background-color: #f0f0f0;
}

.light-mode #calculator {
    background-color: #fff;
    border-color: #ccc;
}

.light-mode #display {
    background-color: #fff;
    color: #000;
}

.light-mode .btn {
    background-color: #ddd;
    color: #000;
}

.light-mode .btn:hover {
    background-color: #ccc;
}

/* CASIO Label bleibt hell im Light Mode */
.light-mode .label {
    color: #f0f0f0;
}


/* sub-menu */
/* Aktiv-Farben */
.active-main {
    background-color: rgb(247, 206, 131) !important;
    color: black !important;
    text-decoration: underline;
}

#submenu {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(247, 206, 131);
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.sub-btn {
    height: 40px;
    font-size: 18px;
    margin: 5px;
    flex: 1 1 auto;
    /* Sub-Buttons nehmen den verfügbaren Platz ein */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sub-btn {
    background: #444;
    color: white;
}

.sub-btn:hover {
    background: #666;
}